# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/unityLibrary/

#### Unity related files
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
unity/Irrigatron 5000/[Ll]ibrary/
unity/Irrigatron 5000/[Tt]emp/
unity/Irrigatron 5000/[Oo]bj/
unity/Irrigatron 5000/[Bb]uild/
unity/Irrigatron 5000/[Bb]uilds/
unity/Irrigatron 5000/[Ll]ogs/
unity/Irrigatron 5000/[Uu]ser[Ss]ettings/
unity/Irrigatron 5000/_build

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
unity/Irrigatron 5000/[Mm]emoryCaptures/

# Recordings can get excessive in size
unity/Irrigatron 5000/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
unity/Irrigatron 5000/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
unity/Irrigatron\s5000/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
unity/Irrigatron 5000/[Aa]ssets/[Ss]treamingAssets/aa.meta
unity/Irrigatron 5000/[Aa]ssets/[Ss]treamingAssets/aa/*
unity/Irrigatron s5000/[Aa]ssets/[Rr]esources/